body {
    background: #111111;
    overflow: auto;
}
.cpu-panelpc{
    background:  #111111;
    display: grid;
    margin-top: 2%;
    color: whitesmoke;
    text-align: center;
    grid-template-columns: 100px 100px 100px 100px;
    width: 50%;
    height: 50%;
    margin-top: 10%;
}
.flex-container {
    display: grid;
    height: 300px;
    grid-template-columns: 1fr 1fr;
    color: ghostwhite;
}

h1 {
    font-size: 15px;

}
.child {
    margin-bottom: 10%;
    text-align: center;
    background: #111111;
    height: 100%;
}
#instruction {

    width: 100%;
}
#memory {
    width: 100%;
}
#command-list {
    background:#111111;
}

label {
    display: block;
}

textarea {
    color: #647b69;
    background: black;
    display: block;
    border: 1px solid gray;
    resize: none;
    margin-left: auto;
    margin-right: auto;
}

input {
    background: black;
    border: 1px solid darkslategray;
    color: whitesmoke;
    width: 70px;
}

.button {

    background-color: #647b69;; /* Green */
    border: #111111 solid 2px;
    padding: 10px 8px;
    color: whitesmoke;
    border-radius: 10px;
    font-size: 12px;
}
.button:active {
    background-color: darkslategray;
    transform: translateY(4px);
}
#next-instruction-button{
    margin-top: 10px;
}